.options {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.options ul{
    list-style: none;
    padding-inline-start: 0.25rem;
}

.choices {
    display: flex;
    margin-bottom: 2em;
}

.choices__types {
    display: flex;
    align-items: center;
}

.choices__types ul {
    list-style: none;
    display: flex;
}

.type__order {
    display: flex;
    justify-content: space-around;
}

#orderButton {
    padding: 0.5rem;
    background-color: rgb(227, 72, 72);
    color: lightgoldenrodyellow;
    font-size: 1rem;
}